<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/proyecto/proyecto-clase-12.css">
    <title>Proyecto clase 12</title>
</head>
<body>
    <header>
        <h1>Proyecto Clase 12</h1>
        <p>Esta clase muestra como vincular una hoja de estilos en cascasa CSS a un 
           archivo HTML, vincular google fonts y normalize.css
        </p>
    </header>
    
    <main>
        <h4>Soy un h4</h4>

        <h1>El titulo de nuestro documento</h1>

        <h2>Un subtítulo cualquiera</h2>
        <!-- Ruta de elementos estaticos desde './public' declarada en el app.js -->
        <img src="/images/bilbo-bolson.jpg" alt="">

        <strong>Otro texto en negrita</strong>

        <p>Lorem ipsum dolor <strong>esto es un texto en negrita</strong> sit amet, consectetur adipisicing elit. Voluptate ex qui magni 
           pariatur <em>soy untexto en cursiva</em> deserunt quaerat dolor ad, dolore expedita recusandae omnis a adipisci 
           facere fugit corrupti ducimus, excepturi nisi repudiandae?</p>
        
        <p class="parrafo-destacado">Lorem <em>soy untexto en cursiva</em> ipsum, dolor sit amet consectetur adipisicing elit. Velit tempore beatae 
           eaque, unde animi amet quod officiis minus nihil perspiciatis quo corporis nam 
           alias neque quis temporibus dolor molestias voluptatibus.</p>
        
        <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ol>

        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>

        <a href="https://www.google.com.mx">Ir a Google México</a>
    </main>
    
    
</body>
</html>