<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/proyecto/proyecto-clase-11.css">
    <title>Proyecto clase 11</title>
</head>
<body>
    <header>
        <h1>Proyecto Clase 11</h1>
    </header>
    
    <main>
        <h4>Soy un h4</h4>

        <h1>El titulo de nuestro documento</h1>

        <h2>Un subtítulo cualquiera</h2>
        <!-- Ruta de elementos estaticos desde './public' declarada en el app.js -->
        <img src="/image/clase-11/bilbo-bolson.jpg" alt="">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ex qui magni 
           pariatur deserunt quaerat dolor ad, dolore expedita recusandae omnis a adipisci 
           facere fugit corrupti ducimus, excepturi nisi repudiandae?</p>
        
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit tempore beatae 
           eaque, unde animi amet quod officiis minus nihil perspiciatis quo corporis nam 
           alias neque quis temporibus dolor molestias voluptatibus.</p>
        
        <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ol>

        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>

        <a href="https://www.google.com.mx">Ir a Google México</a>
    </main>
    
    
</body>
</html>