<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/proyecto/proyecto-clase-13.css">
    <title>Proyecto clase 13</title>
</head>
<body>
    <p class="oculto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda harum nesciunt dignissimos ullam sequi delectus iusto illo similique vero ea sapiente et, voluptatibus, quidem, quod doloremque nostrum cum consequuntur aliquid.</p>
    <article class="contenedor01">
        <h2>Lorem ipsum dolor sit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Harum iure beatae nesciunt consequuntur cum ipsam suscipit 
           officiis minima consequatur ut. Nemo odio aperiam delectus? 
           Cum dicta voluptas sapiente laborum quibusdam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Harum iure beatae nesciunt consequuntur cum ipsam suscipit 
           officiis minima consequatur ut. Nemo odio aperiam delectus? 
           Cum dicta voluptas sapiente laborum quibusdam.</p>
        <article class="contenedor02">
             Soy el contenedor02
        </article>
    </article>
    
</body>
</html>